@use "./_colors.scss" as *;
@use "./_variables.scss" as *;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
