// FUENTES //
$font-primary: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// BORDEADOS MINIMALISTAS //
$radius-sm: 6px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-xl: 16px;

//TAMAÑO DE TIPOGRAFIA//
//DESKTOP//
$h1D: 3.5rem;
$h2D: 48px;
$h3D: 40px;
$h4D: 32px;
$h5D: 24px;
$h6D: 20px;
$pD: 18px;

//SMARTPHONE AND MOBILE//
$h1M: 2.5rem;
$h2M: 2.2rem;
$h3M: 1.5rem;
$h4M: 18px;
$h5M: 16px;
$h6M: 14px;
$pM: 1.1rem;

//TAMAÑO DE DISPOSITIVO//
$deviceSizeDesktop: 1440px;
$deviceSizeSmartphone: 720px;
$deviceSizeMobile: 360px;
