@use "./sass/colors" as *;
@use "./sass/variables" as *;
@use "./sass/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bg_color;
  color: $text_color;
}

.logo {
  text-decoration: none;
  .image_logo {
    width: 200px;
    height: auto;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px solid $primary_color;
}

.navContainer {
  margin: 0 auto;
  padding: 0 20px;
  @include flexBetween;
  height: 140px;
  .navMenu {
    display: flex;
    list-style: none;
    gap: 30px;
    .navItem {
      position: relative;
      text-decoration: none;
      font-weight: 600;
      padding: 12px 20px;
      border-radius: 5px;
      @include flexCenter;
      gap: 8px;
      border: 2px solid transparent;
      transition: all 0.2s ease;
      &:hover {
        background-color: $primary_color;
        border-color: $primary_color;
      }
      &.active {
        background-color: $primary_color;
        border-color: $primary_color;
      }
    }
  }
}

@media (max-width: 1000px) {
  .hamburger {
    @include flexColumn;
    cursor: pointer;
    padding: 5px;
    &.active span:nth-child(1) {
      transform: rotate(-45deg) translate(-7px, 6px);
    }
    &.active span:nth-child(2) {
      opacity: 0;
    }
    &.active span:nth-child(3) {
      transform: rotate(45deg) translate(-7px, -6px);
    }
    span {
      width: 25px;
      height: 3px;
      background: #333;
      margin: 3px 0;
      transition: 0.3s;
      border-radius: 2px;
    }
  }
  .navMenu.mobile {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100vw;
    @include flexColumn;
    list-style: none;
    gap: 30px;
    padding: 30px 0;
    z-index: 999;
    &.active {
      display: flex;
    }
    .navItem {
      font-weight: 600;
      padding: 12px 20px;
      border-radius: 5px;
      border: 2px solid transparent;
      transition: all 0.2s ease;
      &:hover {
        background-color: $primary_color;
        border-color: $primary_color;
      }
      &.active {
        background-color: $primary_color;
        border-color: $primary_color;
      }
    }
  }
}

.home {
  min-height: calc(100vh - 70px);
}

.container {
  max-width: 1200px;
  margin: 170px auto 100px;
  padding: 0 20px;
  .sectionTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
  }
  .productosGrid {
    margin: 20px auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  --d: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: $ternary_color;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(10);
}

@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}

.noProducts {
  text-align: center;
  margin: 180px auto 20px;
}

.productoCard {
  position: relative;
  @include flexColumn;
  height: 380px;
  overflow: hidden;
  border: 1px solid $ternary_color;
  border-radius: 10px;
  padding: 5px;
  .productoImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .overlay {
    @include flexColumn;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    h2 {
      text-align: center;
    }
  }
}

.button {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  background-color: $primary_color;
  width: 150px;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: $secondary_color;
  }
}

.productDetail {
  margin: 180px auto 90px;
  min-width: 500px;
  max-width: 800px;
  @include flexColumn;
  justify-content: space-between;
  border: 1px solid $ternary_color;
  border-radius: 5px;
  padding: 10px;
  gap: 20px;
  img {
    width: 100%;
  }
  .product-detail-info {
    @include flexColumn;
    gap: 20px;
    .product-description-full {
      @include flexColumn;
      gap: 10px;
    }
  }
}

.cartView {
  @include grid-places;
  margin-top: 40px;
}

.table {
  width: 700px;
  margin: 30px auto;
  border-radius: 10px;
}

.head {
  background-color: $primary_color;
  color: $text_color;
  text-align: center;
  th {
    padding: 10px;
    font-weight: 600;
  }
}

.bold {
  text-align: center;
  font-weight: 600;
}

.lineBlock {
  @include flexCenter;
  gap: 20px;
  margin-top: 20px;
  width: 80%;
}

.inLine {
  @include flexCenter;
  gap: 20px;
  button {
    outline: none;
    border: none;
    cursor: pointer;
  }
}

.fila {
  padding: 10px;
  background: rgba(227, 194, 254, 0.5);
}

.space {
  padding: 5px 10px;
  text-align: center;
}

.trash {
  width: 30px;
  height: 30px;
  cursor: pointer;
  &:hover {
    color: $ternary_color;
  }
}

.form {
  @include flexColumn;
  gap: 20px;
  margin: 180px auto 20px;
  width: 500px;
  border: 1px solid $ternary_color;
  border-radius: 5px;
  padding: 20px;
  .formContent {
    @include flexColumn;
    gap: 20px;
    width: 90%;
    input {
      display: block;
      width: 90%;
      margin: 0 auto;
      padding: 15px 20px;
      border: none;
      border-bottom: 2px solid $secondary_color;
      font-size: 1rem;
      transition: all 0.3s ease;
      color: $text_color;
      &:focus {
        outline: none;
        border-bottom: 2px solid $ternary_color;
        transform: translateY(-2px);
        border-radius: 10px;
      }
    }
    .formGroup {
      width: 90%;
      label {
        display: block;
        font-weight: 600;
        margin-bottom: 8px;
        color: $text_color;
        font-size: 1rem;
      }
      textarea {
        width: 100%;
        padding: 15px 20px;
        border: 2px solid $secondary_color;
        border-radius: 10px;
        font-size: 1rem;
        transition: all 0.3s ease;
        color: $text_color;
        &:focus {
          outline: none;
          border: 2px solid $ternary_color;
          transform: translateY(-2px);
          border-radius: 10px;
        }
      }
    }
  }
  button {
    outline: none;
    border: none;
    cursor: pointer;
  }
}

.footer {
  text-align: center;
  width: 100%;
  height: 60px;
  @include flexCenter;
  font-size: 18px;
  border-top: 1px solid $primary_color;
  position: fixed;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 320px) and (max-width: 743px) {
  .footer {
    font-size: 16px;
  }
}
